streamlit
PyPDF2
pymupdf
Pillow
google-genai
qrcode
yfinance
rembg
markdown
rembg[cpu]
onnxruntime
streamlit
google-generativeai
PyMuPDF
Pillow
streamlit
google-generativeai
PyMuPDF
Pillow
rembg
pytesseract
qrcode
streamlit-cropper
streamlit
google-generativeai
PyMuPDF
Pillow
rembg
pytesseract
qrcode
streamlit-cropper
streamlit
google-generativeai
PyMuPDF
Pillow
rembg
pytesseract
qrcode
streamlit-cropper
streamlit-drawable-canvas
numpy
